<launch>

    <arg name="turtle_id" default="normal_turtle"/>
    <arg name="turtle_id1" default="reverse_turtle"/>
    <arg name="turtle_ns" default="orlg"/>
    
    <node pkg = "turtle_control"  type = "rev_turtle"  name = "rev_turtle"  respawn = "true" >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>

    <node pkg = "turtlesim"  type = "turtle_teleop_key"  name = "teleop_key"  respawn = "true"  >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>

    <!-- respawn and required cannot both be set to true.  -->




    <node  pkg = "turtlesim"  type = "turtlesim_node"  name = "$(arg turtle_id)"  required = "true"     >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>

    <node  pkg = "turtlesim"  type = "turtlesim_node"  name = "$(arg turtle_id1)"  required = "true"     >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/rev_cmd"	/>
    </node>
</launch>
